@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Oxygen', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #41a85f;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #41a85f;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #41a85f;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #41a85f;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #41a85f;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #41a85f;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #41a85f;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #41a85f;
}
.extAccordion1 .panel-heading a {
  font-family: 'Oxygen', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #41a85f;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Oxygen', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #41a85f;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #41a85f;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #41a85f;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #41a85f !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #41a85f;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #41a85f;
}
.theme-border {
  border: 1px solid #41a85f;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.85rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#extHeader3-2 .btn {
  font-size: 14px;
}
#extHeader3-2 H3 {
  font-size: 46px;
}
#extHeader3-2 P {
  font-size: 21px;
}
#extMsg-box2-g SPAN {
  font-size: 36px;
}
#extMsg-box2-g P {
  text-align: center;
}
#social-buttons1-i #okad-clients a {
  height: 160px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
}
#social-buttons1-i #okad-clients a > img {
  max-height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  filter: url(../../../data:image/svg+xml;utf8;base64,Jmx0O3N2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCcmZ3Q7Jmx0O2ZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnJmd0OyZsdDtmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDBcJy8mZ3Q7Jmx0Oy9maWx0ZXImZ3Q7Jmx0Oy9zdmcmZ3Q7I2dyYXlzY2FsZQ==);
  filter: gray;
  -webkit-filter: grayscale(100%);
  background-color: transparent!important;
  display: block;
  max-width: 100%;
  height: auto;
}
#social-buttons1-i #okad-clients a > img:hover {
  filter: url(../../../data:image/svg+xml;utf8;base64,Jmx0O3N2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCcmZ3Q7Jmx0O2ZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnJmd0OyZsdDtmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcxIDAgMCAwIDAsIDAgMSAwIDAgMCwgMCAwIDEgMCAwLCAwIDAgMCAxIDBcJy8mZ3Q7Jmx0Oy9maWx0ZXImZ3Q7Jmx0Oy9zdmcmZ3Q7I2dyYXlzY2FsZQ==);
  -webkit-filter: grayscale(0%);
}
#contacts4-d P {
  font-size: 16px;
}
#ext_menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-j .navbar-caption {
  color: #ffffff;
}
#ext_menu-j .navbar-toggler {
  color: #ffffff;
}
#ext_menu-j .close-icon::before,
#ext_menu-j .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-j .link,
#ext_menu-j .dropdown-item {
  color: #ffffff;
}
#ext_menu-j .link {
  font-size: 0.85rem;
}
#ext_menu-j .dropdown-item,
#ext_menu-j .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-j .link:hover,
#ext_menu-j .dropdown-item:hover,
#ext_menu-j .link:focus,
#ext_menu-j .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-j .nav-dropdown-sm .link:focus,
#ext_menu-j .nav-dropdown-sm .link:hover,
#ext_menu-j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-j .navbar,
#ext_menu-j .nav-dropdown-sm,
#ext_menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-j .bg-color.transparent.opened .link:hover,
#ext_menu-j .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#ext_menu-j .nav-dropdown .btn {
  padding-left: .4rem !important;
  padding-right: .4rem !important;
}
#ext_menu-j .nav-item .link {
  position: relative;
  margin: 0.65rem;
  font-size: 0.75rem;
}
#ext_menu-j .nav-item .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #41a85f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#ext_menu-j .nav-item .link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#ext_menu-j .nav-item .link:hover {
  color: #41a85f;
}
#ext_menu-j .navbar-dropdown .navbar-logo img {
  height: 4rem;
}
#ext_menu-j .navbar-dropdown.navbar-short {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.46);
}
#ext_menu-j .navbar-dropdown.navbar-short .navbar-logo img {
  height: 3rem;
}
#form1-m .form-control-label {
  color: #232323;
}
#form1-m SMALL {
  font-size: 30px;
}
#form1-m .mbr-section-title {
  font-size: 36px;
}
#contacts4-k P {
  font-size: 16px;
}
#ext_menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-n .navbar-caption {
  color: #ffffff;
}
#ext_menu-n .navbar-toggler {
  color: #ffffff;
}
#ext_menu-n .close-icon::before,
#ext_menu-n .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-n .link,
#ext_menu-n .dropdown-item {
  color: #ffffff;
}
#ext_menu-n .link {
  font-size: 0.85rem;
}
#ext_menu-n .dropdown-item,
#ext_menu-n .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-n .link:hover,
#ext_menu-n .dropdown-item:hover,
#ext_menu-n .link:focus,
#ext_menu-n .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-n .link[aria-expanded="true"],
#ext_menu-n .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-n .nav-dropdown-sm .link:focus,
#ext_menu-n .nav-dropdown-sm .link:hover,
#ext_menu-n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-n .navbar,
#ext_menu-n .nav-dropdown-sm,
#ext_menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-n .bg-color.transparent.opened .link:hover,
#ext_menu-n .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-n .link[aria-expanded="true"],
#ext_menu-n .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#pricing-table2-2w {
  /*
 * VARS
 */
  /*
 * MIXINS
 */
  /*
 * STYLE
 */
}
#pricing-table2-2w .mbr-plan-header,
#pricing-table2-2w .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-2w ul,
#pricing-table2-2w .mbr-plan-title,
#pricing-table2-2w .mbr-price-value,
#pricing-table2-2w .mbr-price-figure,
#pricing-table2-2w .mbr-price-term {
  color: #28262b;
}
#pricing-table2-2w .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-2w .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-2w .mbr-plan-label B {
  font-size: 11px;
}
#pricing-table2-2w .mbr-section__container .mbr-section-title {
  font-size: 36px;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(4) > .mbr-plan > .mbr-plan-header {
  background-color: mediumpurple !important;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(4) > .mbr-plan > .mbr-plan-header h3.mbr-plan-title,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(4) > .mbr-plan > .mbr-plan-header small.mbr-plan-subtitle,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(4) > .mbr-plan > .mbr-plan-header small.mbr-plan-price-desc {
  color: #e0e0e0;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(3) > .mbr-plan > .mbr-plan-header {
  background-color: #ffff62 !important;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(3) > .mbr-plan > .mbr-plan-header h3.mbr-plan-title,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(3) > .mbr-plan > .mbr-plan-header small.mbr-plan-subtitle,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(3) > .mbr-plan > .mbr-plan-header small.mbr-plan-price-desc {
  color: #1f1f1f;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(2) > .mbr-plan > .mbr-plan-header {
  background-color: cornflowerblue !important;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(2) > .mbr-plan > .mbr-plan-header h3.mbr-plan-title,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(2) > .mbr-plan > .mbr-plan-header small.mbr-plan-subtitle,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(2) > .mbr-plan > .mbr-plan-header small.mbr-plan-price-desc {
  color: #e0e0e0;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(1) > .mbr-plan > .mbr-plan-header {
  background-color: #41a85f !important;
}
#pricing-table2-2w .mbr-price-table > .row div:nth-child(1) > .mbr-plan > .mbr-plan-header h3.mbr-plan-title,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(1) > .mbr-plan > .mbr-plan-header small.mbr-plan-subtitle,
#pricing-table2-2w .mbr-price-table > .row div:nth-child(1) > .mbr-plan > .mbr-plan-header small.mbr-plan-price-desc {
  color: #e0e0e0;
}
#pricing-table2-2w .mbr-price-table > .row small.mbr-price-term {
  font-size: 1rem;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-title {
  font-size: 2rem;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .list-group-item {
  line-height: inherit;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-header {
  padding: 2rem !important;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-header .card-title {
  margin: 0 !important;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-header .mbr-price,
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-header .mbr-plan-price-desc {
  display: none;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-body {
  padding-top: 0;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-body .mbr-plan-list {
  padding-bottom: 1rem;
  padding-top: 0;
}
#pricing-table2-2w .mbr-price-table > .row .mbr-plan .mbr-plan-body .mbr-plan-btn > a.btn {
  padding: .7rem;
}
#extAccordion1-2y H1 {
  font-size: 36px;
  text-align: center;
}
#contacts4-o P {
  font-size: 16px;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.85rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#extHeader3-y H3 {
  font-size: 46px;
}
#header3-11 .mbr-section-title,
#header3-11 .mbr-section-subtitle {
  text-align: center;
}
#header3-11 .mbr-section-title SPAN {
  font-size: 36px;
}
#header3-11 .mbr-section-title {
  font-size: 36px;
}
#extFeatures14-10 P {
  font-size: 19px;
}
#extFeatures14-10 H3 {
  color: #d4fad0;
}
#extAccordion1-12 H1 {
  text-align: center;
  font-size: 36px;
}
#contacts4-t P {
  font-size: 16px;
}
#ext_menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1b .navbar-caption {
  color: #ffffff;
}
#ext_menu-1b .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1b .close-icon::before,
#ext_menu-1b .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1b .link,
#ext_menu-1b .dropdown-item {
  color: #ffffff;
}
#ext_menu-1b .link {
  font-size: 0.85rem;
}
#ext_menu-1b .dropdown-item,
#ext_menu-1b .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-1b .link:hover,
#ext_menu-1b .dropdown-item:hover,
#ext_menu-1b .link:focus,
#ext_menu-1b .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-1b .link[aria-expanded="true"],
#ext_menu-1b .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1b .nav-dropdown-sm .link:focus,
#ext_menu-1b .nav-dropdown-sm .link:hover,
#ext_menu-1b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1b .navbar,
#ext_menu-1b .nav-dropdown-sm,
#ext_menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1b .bg-color.transparent.opened .link:hover,
#ext_menu-1b .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-1b .link[aria-expanded="true"],
#ext_menu-1b .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header3-2f .mbr-section-title,
#header3-2f .mbr-section-subtitle {
  text-align: center;
}
#contacts4-1c P {
  font-size: 16px;
}
#ext_menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1k .navbar-caption {
  color: #ffffff;
}
#ext_menu-1k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1k .close-icon::before,
#ext_menu-1k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1k .link,
#ext_menu-1k .dropdown-item {
  color: #ffffff;
}
#ext_menu-1k .link {
  font-size: 0.85rem;
}
#ext_menu-1k .dropdown-item,
#ext_menu-1k .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-1k .link:hover,
#ext_menu-1k .dropdown-item:hover,
#ext_menu-1k .link:focus,
#ext_menu-1k .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-1k .link[aria-expanded="true"],
#ext_menu-1k .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1k .nav-dropdown-sm .link:focus,
#ext_menu-1k .nav-dropdown-sm .link:hover,
#ext_menu-1k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1k .navbar,
#ext_menu-1k .nav-dropdown-sm,
#ext_menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1k .bg-color.transparent.opened .link:hover,
#ext_menu-1k .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-1k .link[aria-expanded="true"],
#ext_menu-1k .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#extFeatures9-1n .mbr-section-title {
  font-size: 36px;
}
#contacts4-1l P {
  font-size: 16px;
}
#ext_menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1q .navbar-caption {
  color: #ffffff;
}
#ext_menu-1q .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1q .close-icon::before,
#ext_menu-1q .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1q .link,
#ext_menu-1q .dropdown-item {
  color: #ffffff;
}
#ext_menu-1q .link {
  font-size: 1rem;
}
#ext_menu-1q .dropdown-item,
#ext_menu-1q .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-1q .link:hover,
#ext_menu-1q .dropdown-item:hover,
#ext_menu-1q .link:focus,
#ext_menu-1q .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-1q .link[aria-expanded="true"],
#ext_menu-1q .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1q .nav-dropdown-sm .link:focus,
#ext_menu-1q .nav-dropdown-sm .link:hover,
#ext_menu-1q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1q .navbar,
#ext_menu-1q .nav-dropdown-sm,
#ext_menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1q .bg-color.transparent.opened .link:hover,
#ext_menu-1q .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-1q .link[aria-expanded="true"],
#ext_menu-1q .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#extHeader10-1v P {
  font-size: 25px;
}
#contacts4-1r P {
  font-size: 16px;
}
#ext_menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1z .navbar-caption {
  color: #ffffff;
}
#ext_menu-1z .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1z .close-icon::before,
#ext_menu-1z .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1z .link,
#ext_menu-1z .dropdown-item {
  color: #ffffff;
}
#ext_menu-1z .link {
  font-size: 0.85rem;
}
#ext_menu-1z .dropdown-item,
#ext_menu-1z .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-1z .link:hover,
#ext_menu-1z .dropdown-item:hover,
#ext_menu-1z .link:focus,
#ext_menu-1z .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-1z .link[aria-expanded="true"],
#ext_menu-1z .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1z .nav-dropdown-sm .link:focus,
#ext_menu-1z .nav-dropdown-sm .link:hover,
#ext_menu-1z .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1z .navbar,
#ext_menu-1z .nav-dropdown-sm,
#ext_menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1z .bg-color.transparent.opened .link:hover,
#ext_menu-1z .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-1z .link[aria-expanded="true"],
#ext_menu-1z .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 .mbr-section-title {
  font-size: 36px;
}
#header3-24 .mbr-section-title,
#header3-24 .mbr-section-subtitle {
  text-align: center;
}
#header3-24 .mbr-section-title {
  font-size: 36px;
}
#social-buttons1-26 #okad-clients a {
  height: 160px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
}
#social-buttons1-26 #okad-clients a > img {
  max-height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  /*filter: url(../../../data:image/svg+xml;utf8;base64,Jmx0O3N2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCcmZ3Q7Jmx0O2ZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnJmd0OyZsdDtmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDBcJy8mZ3Q7Jmx0Oy9maWx0ZXImZ3Q7Jmx0Oy9zdmcmZ3Q7I2dyYXlzY2FsZQ==);
	filter: gray;
	-webkit-filter: grayscale(100%);
    background-color: transparent!important;*/
  display: block;
  max-width: 100%;
  height: auto;
}
#social-buttons1-26 #okad-clients a > img:hover {
  filter: url(../../../data:image/svg+xml;utf8;base64,Jmx0O3N2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCcmZ3Q7Jmx0O2ZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnJmd0OyZsdDtmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcxIDAgMCAwIDAsIDAgMSAwIDAgMCwgMCAwIDEgMCAwLCAwIDAgMCAxIDBcJy8mZ3Q7Jmx0Oy9maWx0ZXImZ3Q7Jmx0Oy9zdmcmZ3Q7I2dyYXlzY2FsZQ==);
  -webkit-filter: grayscale(0%);
}
#contacts4-20 P {
  font-size: 16px;
}
#ext_menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-28 .navbar-caption {
  color: #ffffff;
}
#ext_menu-28 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-28 .close-icon::before,
#ext_menu-28 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-28 .link,
#ext_menu-28 .dropdown-item {
  color: #ffffff;
}
#ext_menu-28 .link {
  font-size: 0.85rem;
}
#ext_menu-28 .dropdown-item,
#ext_menu-28 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#ext_menu-28 .link:hover,
#ext_menu-28 .dropdown-item:hover,
#ext_menu-28 .link:focus,
#ext_menu-28 .dropdown-item:focus {
  color: #41a85f;
}
#ext_menu-28 .link[aria-expanded="true"],
#ext_menu-28 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-28 .nav-dropdown-sm .link:focus,
#ext_menu-28 .nav-dropdown-sm .link:hover,
#ext_menu-28 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-28 .navbar,
#ext_menu-28 .nav-dropdown-sm,
#ext_menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-28 .bg-color.transparent.opened .link:hover,
#ext_menu-28 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#ext_menu-28 .link[aria-expanded="true"],
#ext_menu-28 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 .mbr-section-title {
  font-size: 36px;
}
#custom-html-2m {
  
}
#custom-html-2m .snip1503 {
  /*font-family: 'Raleway', sans-serif;*/
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  /*background-color: #000000;*/
}
#custom-html-2m .snip1503 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#custom-html-2m .snip1503 img {
  vertical-align: top;
  max-width: 100%;
}
#custom-html-2m .snip1503 figcaption {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 1;
  border: 1px solid #ffffff;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.8);
}
#custom-html-2m .snip1503 h3 {
  padding: 7px 15px;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 2px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  color: rgba(255, 255, 255, 0);
}
#custom-html-2m .snip1503 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#custom-html-2m .snip1503:hover > img,
#custom-html-2m .snip1503.hover > img {
  opacity: 0.5;
}
#custom-html-2m .snip1503:hover h3,
#custom-html-2m .snip1503.hover h3 {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  color: #ffffff;
}
#custom-html-2r {
  /* Type valid CSS here */
}
#custom-html-2r .my-image {
  width: 100%;
}
#features7-2s .card-subtitle {
  color: #bcbcbc;
}
#features7-2s .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#contacts4-2d P {
  font-size: 16px;
}
